# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/
/assets/
/cms/
/framework/
/reports/
/siteconfig/
install.php
install-frameworkmissing.html
index.php
README.md
composer.json
composer.lock
/.settings/
.htaccess
favicon.ico
.project
web.config
composer.phar
.editorconfig
.hello


